/target/
/test/
.idea/
/nulltemp/
/cyberconnector-portal/src/main/webapp/images/psd
*.iml
/install/
*.class

**/.DS_Store

**/build/classes/**/*.class

.classpath
.project
.settings
sync.ffs_db
.vscode/launch.json
