<div class="cd-panel cd-panel--from-right js-cd-panel-main" id="prompt-panel">
    <!-- <header class="cd-panel__header">
       <h3 style="margin:5px;">Process Details</h3>

       <div onclick="GW.process.sidepanel.close()" class="prompt-panel-close-btn">
            <img src="../img/close-sidenav.png" alt="close" width="20" height="20" />
       </div>
    </header> -->

    <div class="cd-panel__container">
        <div class="cd-panel__content" id="prompt-panel-main" style="height:calc(100% - 95px); width:100%;">
            <!-- your side panel content here -->
        </div> <!-- cd-panel__content -->
    </div> <!-- cd-panel__container -->
</div> <!-- cd-panel -->
