Package: geoweaver
Architecture: all
Maintainer: Geoweaver team <geoweaver.app@gmail.com>
Description: Geoweaver, a handy prouctivity enhancement and reusable workflow managment software for data processing pipelines.
Depends: openjdk-11-jre