Package: geoweaver
Maintainer: Geoweaver team <geoweaver.app@gmail.com> 
Architecture: all
Homepage: https://github.com/ESIPFed/Geoweaver
Description: Geoweaver, a handy prouctivity enhancement and reusable workflow managment software for data processing pipelines. 
    It is a web system to allow users to automatically record history and manage complicated scientific workflows in web browsers involving the online spatial data facilities, high-performance computation platforms, and open-source libraries.
Depends: default-jre-headless
