<body style="cursor: auto; padding:0;">

<div id="jsframe-container"></div>

<div class="container" style="margin:0; padding:0; width:100%; height:calc(100vh); display: flex;">
    <!-- Top menu bar -->
    <div class="row" id="site_main_div" style="height:calc(100vh); top: 80px; margin: 0px; padding: 0px; padding-top: 1px; width:100%; flex-shrink: 0; flex-basis: auto;">

        <!--Side menu-->
        <div th:replace="fragments/content/sidemenu" class="col col-sm-3 col-md-3 col-lg-3 small-height" id="sidemenu" style="height:calc(100vh); margin: 0;padding: 0; overflow-y: hidden;"></div>
        <!-- Workspace -->
        <div th:replace="fragments/content/workspace"></div>
        <!-- Result Modal -->
        <div th:replace="fragments/content/result-modal"></div>
    </div>

    <div th:replace="fragments/content/sidepanel"></div>

    <!-- The actual snackbar showing the saved/code update message -->
    <div id="snackbar" style="z-index: 100;">Some message..</div>
</div>

<script th:replace="fragments/config/scripts"></script>

</body>
