<body style="cursor: auto; padding:0;">

<div id="jsframe-container"></div>

<div class="container-fluid">
    <!-- Top menu bar -->
    <div class="row flex-grow-1" id="site_main_div">

        <!--Side menu-->
        <div th:replace="fragments/content/modern-sidemenu" class="col-md-3 col-lg-3 d-flex flex-column" id="sidemenu"></div>
        <!-- Workspace -->
        <div th:replace="fragments/content/workspace" class="col d-flex flex-column"></div>
        <!-- Result Modal -->
        <div th:replace="fragments/content/result-modal"></div>
    </div>

    <div th:replace="fragments/content/sidepanel"></div>

    <!-- The actual snackbar showing the saved/code update message -->
    <div id="snackbar">Some message..</div>
</div>

<script th:replace="fragments/config/scripts"></script>

</body>
