<!-- head.html -->

<head>
    <title>Geoweaver</title>

    <link rel="icon" href="../img/favicon.ico" />

    <link rel="stylesheet" href="../css/jquery.dataTables.min.css" />

    <link href="../css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />

    <link href="../css/bootstrap-dialog.min.css" rel="stylesheet"/>

    <link href="../css/bootstrap-colorpicker.min.css" rel="stylesheet" />

    <!--font-awesome library-->
    <link href="../css/all.min.css" rel="stylesheet" />

    <link href="../css/workspace.css" rel="stylesheet" />

    <link href="../css/workflow-3d.css" rel="stylesheet" />

    <link href="../css/workflow-status-icons.css" rel="stylesheet" />

    <link href="../css/workflow-styles.css" rel="stylesheet" />

    <link href="../css/sidemenu.css" rel="stylesheet" />

    <link rel="stylesheet" href="../js/codemirror/lib/codemirror.css" />

    <link rel="stylesheet" href="../js/Monaco-Editor/dev/vs/editor/editor.main.css" />

    <link rel="stylesheet" href="../js/codemirror/theme/xq-dark.css">

    <link rel="stylesheet" href="../js/codemirror/theme/xq-light.css">

    <link rel="stylesheet" href="../js/codemirror/theme/yeti.css">

    <link rel="stylesheet" href="../js/codemirror/theme/idea.css">

    <link rel="stylesheet" href="../js/codemirror/theme/darcula.css">

    <link rel="stylesheet" href="../js/codemirror/theme/yonce.css">

    <link rel="stylesheet" href="../js/codemirror/theme/zenburn.css">

    <link rel="stylesheet" href="../js/codemirror/addon/fold/foldgutter.css" />

    <link rel="stylesheet" href="../css/jquery.dm-uploader.min.css" />

    <link rel="stylesheet" href="../css/main.css" />

    <link rel="stylesheet" href="../css/prism.css" />

    <link rel="stylesheet" href="../css/notebook.css" />

    <link rel="stylesheet" href="../css/nbpreview.css" />

    <link rel="stylesheet" href="../css/imageviewer.css" />

    <link rel="stylesheet" href="../css/Chart.min.css" />

    <link rel="stylesheet" href="../css/promptprocesspanel.css" />

    <link href="../css/introjs.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script type="text/javascript" src="../js/FileSaver.min.js"></script>

    <script type="text/javascript" src="../js/jsencrypt.min.js"></script>

    <script type="text/javascript" src="../ssh/sockjs.js" ></script>

    <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>

    <script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="../js/dataTables.cellEdit.js"></script>

    <script type="text/javascript" src="../js/imageviewer.min.js"></script>

    <script type="text/javascript" src="../js/jquery.dm-uploader.min.js"></script>

    <script type="text/javascript" src="../js/ui-main.js"></script>

    <script type="text/javascript" src="../js/ui-multiple.js"></script>

    <script type="text/javascript" src="../js/no-queue.js"></script>

    <script type="text/javascript" src="../js/codemirror/lib/codemirror.js"></script>

    <!-- <script type="text/javascript" src="../js/codemirror/addon/display/placeholder.js"></script>

    <script type="text/javascript" src="../js/codemirror/addon/comment/comment.js"></script>

    <script type="text/javascript" src="../js/codemirror/addon/fold/foldcode.js"></script>

    <script type="text/javascript" src="../js/codemirror/addon/fold/foldgutter.js"></script>

    <script type="text/javascript" src="../js/codemirror/addon/fold/brace-fold.js"></script>

    <script type="text/javascript" src="../js/codemirror/addon/fold/indent-fold.js"></script>

    <script type="text/javascript" src="../js/codemirror/addon/fold/xml-fold.js"></script>

    <script type="text/javascript" src="../js/codemirror/addon/fold/comment-fold.js"></script>

    <script type="text/javascript" src="../js/codemirror/mode/shell/shell.js"></script>

    <script type="text/javascript" src="../js/codemirror/mode/python/python.js"></script>

    <script type="text/javascript" src="../js/codemirror/addon/fold/xml-fold.js"></script>

    <script type="text/javascript" src="../js/codemirror/addon/fold/markdown-fold.js"></script>

    <script type="text/javascript" src="../js/codemirror/addon/fold/comment-fold.js"></script> -->

    <!-- autocomplete scripts -->
    <!-- <script type="text/javascript" src="../js/codemirror/addon/hint/css-hint.js"></script>

    <script type="text/javascript" src="../js/codemirror/addon/hint/show-hint.js"></script>

    <link rel="stylesheet" href="../js/codemirror/addon/hint/show-hint.css" />

    <script type="text/javascript" src="../js/codemirror/addon/search/search.js"></script>

    <script type="text/javascript" src="../js/codemirror/addon/search/searchcursor.js"></script>

    <script type="text/javascript" src="../js/codemirror/addon/search/jump-to-line.js"></script>

    <script type="text/javascript" src="../js/codemirror/addon/dialog/dialog.js"></script>

    <link rel="stylesheet" href="../js/codemirror/addon/dialog/dialog.css" /> -->

    <!-- references for merge addon of code mirror -->
    <!-- <script type="text/javascript" src="../js/codemirror/addon/merge/merge.js"></script>

    <link rel="stylesheet" href="../js/codemirror/addon/merge/merge.css">

    <script type=text/javascript  src="../js/codemirror/mode/xml/xml.js"></script>

    <script type=text/javascript  src="../js/codemirror/mode/css/css.js"></script>

    <script type=text/javascript  src="../js/codemirror/mode/javascript/javascript.js"></script>

    <script type=text/javascript  src="../js/codemirror/mode/htmlmixed/htmlmixed.js"></script> -->

    <!-- The merge addon of CodeMirror depends on the google-diff-match-patch library to compute the diffs. -->
    <script type=text/javascript  src="https://cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js"></script>

    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../js/bootstrap-dialog.min.js"></script>

    <script type="text/javascript" src="../js/bootstrap-treeview.js" ></script>

    <script type="text/javascript" src="../js/jsframe.js" ></script>

    <script type="text/javascript" src="../js/Chart.min.js"></script>

    <script type="text/javascript" src="../js/intro.min.js"></script>


</head>
