.nav-side-menu {
  overflow-y: scroll;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  /* position: fixed; */
  top: 0px;
  height: 100%;
  /* width: 100%;
  height: 100%; */
  min-width: 300px;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}

.small-height {
	
	height: calc(100vh - 50px);
	
}

.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

.subalignicon {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  height: 100%;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
/*.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}*/

.jupyterserver:before {
	
  font-family: "Font Awesome 5 Brands"  !important;
  content: "\f3e2"  !important;
  font-weight: 900;
	
}

.sshserver:before {
	
  font-family: "Font Awesome 5 Brands" !important; 
  font-weight: 400 !important;
  content: "\f17c" !important;
}

.jupyterhubserver:before {
	
  font-family: "Font Awesome 5 Brands"  !important;
  content: "\f3e2"  !important;
	
}

.jupyterlabserver:before {
	
  font-family: "Font Awesome 5 Brands"  !important;
  content: "\f3e2"  !important;
	
}

.geeserver:before {
	
  font-family: "Font Awesome 5 Free"  !important;
  content: "\f57d"  !important;
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
	
}

.shellfolder:before{
	
  font-family: "Font Awesome 5 Free"  !important;
  content: "\f70e"  !important;
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
	
}

.pythonfolder:before{
  
  font-family: "Font Awesome 5 Brands"  !important;
  content: "\f3e2"  !important;
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
	
}

.notebookfolder:before{
	
  font-family: "Font Awesome 5 Free"  !important;
  content: "\f518"  !important;
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
	
}

.builtinfolder:before{
	
  font-family: "Font Awesome 5 Free"  !important;
  content: "\f1ad"  !important;
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
	
}


.host:before {
  font-family: "Font Awesome 5 Free";
  content: "\f233";
  display: inline-block;
  padding-left: 30px;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
}

.process:before {
  font-family: "Font Awesome 5 Free";
  content: "\f121";
  display: inline-block;
  padding-left: 30px;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
}


.workflow:before {
  font-family: "Font Awesome 5 Brands"  !important;
  content: "\f18c";
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
}

.folder:before {
  font-family: "Font Awesome 5 Free";
  content: "\f07b";
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}


/* @media (max-width: 1767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}@media (min-width: 267px) {
  
} */

.nav-side-menu .menu-list .menu-content {
    display: block;
}

@media (min-width: 267px){
	
	.col-sm-3 {
	    width: 25%;
	}
}


body {
  margin: 0px;
  padding: 0px;
}
.form-group.required .control-label:after {
  content:" *";color:red;
}

.ssh-dialog {
	
	width: 100%;
	
	height: 100%;
	
}

.CodeMirror { border: 1px solid silver; }
.CodeMirror-empty { outline: 1px solid #c22; }
.CodeMirror-empty.CodeMirror-focused { outline: none; }
.CodeMirror pre.CodeMirror-placeholder { color: #999; }
