<div id="workspace_status_indicator" style="position: absolute; bottom: 20px; right: 20px; height: 50px; z-index:1;">
    <h2>
        <i class="fa fa-spinner fa-spin invisible" id="running_spinner" style="font-size:20px;color:red"></i>
        <span id="current_workflow_na" class="badge badge-info" style="font-size: 20px;" ></span>
        <i class="btn fa fa-info-circle fa-2x" id="workflow_info"
           style="font-size:20px; margin: 0; padding: 0; vertical-align: middle; color:darkgray">
            <span> metadata</span>
        </i>
    </h2>
</div>
