<div id="toolbox" >

    <!-- <b style="text-align:center; padding:10px; margin-top:10px; ">Options</b> -->

    <input id="hidden-file-upload" type="file" title="Hidden File Upload" class="btn fa fa-alien" style="color:gray; margin:0;margin-top:5px;  padding:0;" alt="Hidden File Upload" />

    <i id="new-workflow" title="new workspace" class="btn fa fa-file fa-2x weaver-toolbar-btn" alt="new workspace" ></i>

    <i id="add-workflow" title="create a new workflow" class="btn fa fa-plus-square fa-2x weaver-toolbar-btn" alt="create new workflow" ></i>

    <i id="upload-input" title="import workflow" class="btn fa fa-upload fa-2x weaver-toolbar-btn" alt="import workflow" ></i>

    <i id="download-input" title="export workflow" class="btn fa fa-download fa-2x weaver-toolbar-btn" alt="export workflow" ></i>

    <i id="save-workflow" title="save workflow" class="btn fa fa-save fa-2x weaver-toolbar-btn" alt="save workflow"></i>

    <i id="execute-workflow" title="execute workflow" class="btn fa fa-play fa-2x weaver-toolbar-btn" alt="execute workflow"></i>

    <i id="geoweaver-details" title="information" class="btn fa fa-info fa-2x weaver-toolbar-btn" alt="show object information"></i>

    <i id="geoweaver-log" title="log" class="btn fa fa-history fa-2x weaver-toolbar-btn" alt="show process log"></i>

    <i id="show-full-view" title="show full extent view" class="btn fa fa-life-ring fa-2x weaver-toolbar-btn" alt="full extent view"></i>
    <!-- <i id="geoweaver-result" title="result" class="btn fa fa-tv fa-2x weaver-toolbar-btn"  alt="get result"></i>  -->

    <i id="delete-graph" title="delete selected/all" class="btn fa fa-trash fa-2x weaver-toolbar-btn"  alt="delete selected nodes, lines, or everything" ></i>

</div>
