<!DOCTYPE html>
<html lang="en-us">

	<head>
	
		<title>Geoweaver</title>
		
		<link rel="icon" href="../img/favicon.ico" />

		<link rel="stylesheet" href="../css/jquery.dataTables.min.css" />
		
		<link href="../css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />

		<link href="../css/bootstrap-dialog.min.css" rel="stylesheet"/>
		
   		<link href="../css/bootstrap-colorpicker.min.css" rel="stylesheet" />
		
		<link href="../css/all.min.css" rel="stylesheet" />
		
		<link href="../css/workspace.css" rel="stylesheet" />
		
		<link href="../css/sidemenu.css" rel="stylesheet" />

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/css/uikit.min.css" />
		
		<link rel="stylesheet" href="../js/codemirror/lib/codemirror.css" />
		
		<link rel="stylesheet" href="../js/codemirror/theme/xq-dark.css">

		<link rel="stylesheet" href="../js/codemirror/theme/xq-light.css">
		
		<link rel="stylesheet" href="../js/codemirror/theme/yeti.css">
		
		<link rel="stylesheet" href="../js/codemirror/theme/idea.css">
		
		<link rel="stylesheet" href="../js/codemirror/theme/darcula.css">
		
		<link rel="stylesheet" href="../js/codemirror/theme/yonce.css">
		
		<link rel="stylesheet" href="../js/codemirror/theme/zenburn.css">

		<link rel="stylesheet" href="../js/codemirror/addon/fold/foldgutter.css" />
		
    	<link rel="stylesheet" href="../css/jquery.dm-uploader.min.css" />
   		
		<link rel="stylesheet" href="../css/main.css" />
   		
   		<link rel="stylesheet" href="../css/prism.css" />
    	
        <link rel="stylesheet" href="../css/notebook.css" />
        
        <link rel="stylesheet" href="../css/nbpreview.css" />
        
        <link rel="stylesheet" href="../css/imageviewer.css" />
        
        <link rel="stylesheet" href="../css/Chart.min.css" />

		<link rel="stylesheet" href="../css/loading-state.css" />

		<link rel="stylesheet" href="../css/promptprocesspanel.css" />
        
        <link href="../css/introjs.min.css" rel="stylesheet" />
        
		<script type="text/javascript" src="../js/FileSaver.min.js"></script>
		
		<script type="text/javascript" src="../js/jsencrypt.min.js"></script>
		
		<script type="text/javascript" src="../ssh/sockjs.js" ></script>
		
		<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
		
		<script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/js/uikit.min.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/js/uikit-icons.min.js"></script>
		
		<script type="text/javascript" src="../js/dataTables.cellEdit.js"></script>
		
		<script type="text/javascript" src="../js/imageviewer.min.js"></script>
		
	    <script type="text/javascript" src="../js/jquery.dm-uploader.min.js"></script>
	    
	    <script type="text/javascript" src="../js/ui-main.js"></script>
	    
	    <script type="text/javascript" src="../js/ui-multiple.js"></script>
	    
	    <script type="text/javascript" src="../js/no-queue.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/lib/codemirror.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/addon/display/placeholder.js"></script>

		<script type="text/javascript" src="../js/codemirror/addon/comment/comment.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/addon/fold/foldcode.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/addon/fold/foldgutter.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/addon/fold/brace-fold.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/addon/fold/indent-fold.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/addon/fold/xml-fold.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/addon/fold/comment-fold.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/mode/shell/shell.js"></script>

		<script type="text/javascript" src="../js/codemirror/mode/python/python.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/addon/fold/xml-fold.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/addon/fold/markdown-fold.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/addon/fold/comment-fold.js"></script>
		
		<!-- autocomplete scripts -->
		<script type="text/javascript" src="../js/codemirror/addon/hint/css-hint.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/addon/hint/show-hint.js"></script>
		
		<link rel="stylesheet" href="../js/codemirror/addon/hint/show-hint.css" />
		
		<script type="text/javascript" src="../js/codemirror/addon/search/search.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/addon/search/searchcursor.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/addon/search/jump-to-line.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/addon/dialog/dialog.js"></script>
		
		<link rel="stylesheet" href="../js/codemirror/addon/dialog/dialog.css" />
		
		<!-- references for merge addon of code mirror -->
		<script type="text/javascript" src="../js/codemirror/addon/merge/merge.js"></script>
		
		<link rel="stylesheet" href="../js/codemirror/addon/merge/merge.css">
		
		<script type=text/javascript  src="../js/codemirror/mode/xml/xml.js"></script>
		
		<script type=text/javascript  src="../js/codemirror/mode/css/css.js"></script>
		
		<script type=text/javascript  src="../js/codemirror/mode/javascript/javascript.js"></script>
		
		<script type=text/javascript  src="../js/codemirror/mode/htmlmixed/htmlmixed.js"></script>
		
		<!-- The merge addon of CodeMirror depends on the google-diff-match-patch library to compute the diffs. -->
		<script type=text/javascript  src="https://cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js"></script>

		<script type="text/javascript" src="../js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="../js/bootstrap-dialog.min.js"></script>
    
   		<script type="text/javascript" src="../js/bootstrap-treeview.js" ></script>
   	
   		<script type="text/javascript" src="../js/jsframe.js" ></script>
    	
    	<script type="text/javascript" src="../js/Chart.min.js"></script>
    	
    	<script type="text/javascript" src="../js/intro.min.js"></script>
    	
	</head>
	
	<body style="cursor: auto; padding:0;">
	
		<div id="jsframe-container"></div>
	
		<div class="container" style="margin:0; padding:0; width:100%; height:calc(100vh);">
			
			<!-- Top menu bar -->

			<!-- set site margin here -->
			<div class="row" id="site_main_div" style="height:calc(100vh); top: 80px; margin: 0px; padding: 0px; padding-top: 1px;">
				
				<div class="col col-sm-3 col-md-3 col-lg-3 small-height" id="sidemenu" style="height:calc(100vh); margin: 0;padding: 0; overflow-y: hidden;">

					<button class="side_menu_collapse_btn">&lt;&lt;&lt;&lt;</button>

					<div class="row" style="height:50px; margin: 0; padding:0;">
						<div style="padding:0; padding-top:10px; margin:0; text-align: center; height:100%;" class="col col-md-12" href="javascript:void(0)">
								<img src="../img/header.png" style="vertical-align: middle; " width="35px" height="35px"/>
						</div>
					</div>

					<div class="nav-side-menu" >

						<div class="search-form">
							<i class="fa fa-search"></i>
							<input type="text" class="form-control search-form-input" id="instant_search_bar" placeholder="Search anything...">
							<i class="fa fa-times-circle" id="clean_search_field"></i>
						</div>
						
						<div class="menu-list" data-intro="Side menu contains all the existing resources in Geoweaver database">
							
							<ul id="menu-content" class="menu-content collapse out">
								
								<li data-intro="Hosts are computing platforms, e.g., a laptop, a Linux server, a Jupyter Notebook server, a JupyterHub, Google Earth Engine. You can add and manage multiple hosts in one place. " data-toggle="collapse" data-target="#hosts">
									<a href="javascript:void(0)" >
										<i class="fa fa-server fa-lg" data-toggle="tooltip" title="Add new host"></i>&nbsp;&nbsp;&nbsp;<b>Hosts</b>
										<i class="fas fa-caret-up pull-right" data-toggle="collapse" data-target="#hosts" ></i>
										<button type="button" class="btn btn-success btn-xs pull-right right-button-vertical-center" id="newhost">New Host</button>
										<!-- <i class="fa fa-plus pull-right" id="newhost"></i> -->
									</a>
								</li>
								<ul   class="sub-menu collapse" id="hosts">
									<li class=" sshserver folder" id="host_folder_ssh" data-toggle="collapse" data-target="#host_folder_ssh_target">
										<a href="javascript:void(0)">Linux/Win/Mac Computers</a>
									</li>
									<ul class="sub-menu collapse" id="host_folder_ssh_target"></ul>
								</ul>
								
								<li data-intro="Processes are programs like Python code, shell scripts, Jupyter Notebooks, Google Earth Engine scripts, etc. You can manage all your code here in one place and run on different hosts. All the history of process execution will be saved in Geoweaver database, even the used hosts are not longer available. "  data-toggle="collapse" data-target="#processes">
									<a href="javascript:void(0)">
										<i class="fa fa-cog fa-lg"  data-toggle="tooltip" title="Add new process"></i>&nbsp;&nbsp;&nbsp;<b>Process</b> 
										<i data-toggle="collapse" data-target="#processs" class="fas fa-caret-up pull-right"></i>
										<!-- <i class="fa fa-plus pull-right" id="newprocess"></i>  -->
										<button type="button" class="btn btn-success btn-xs pull-right right-button-vertical-center" id="newprocess">New Process</button>
									</a>
								</li>
								<ul class="sub-menu collapse" id="processes">
									<li class="shellfolder" id="process_folder_shell" data-toggle="collapse" data-target="#process_folder_shell_target">
										<a href="javascript:void(0)">Shell</a>
									</li>
									<ul class="sub-menu collapse" id="process_folder_shell_target"></ul>
									
									<li class="notebookfolder" id="process_folder_jupyter" data-toggle="collapse" data-target="#process_folder_jupyter_target">
										<a href="javascript:void(0)">Notebook</a>
									</li>
									<ul class="sub-menu collapse" id="process_folder_jupyter_target"></ul>
									
									<li class="builtinfolder" id="process_folder_builtin" data-toggle="collapse" data-target="#process_folder_builtin_target">
										<a href="javascript:void(0)">Builtin Process</a>
									</li>
									<ul class="sub-menu collapse" id="process_folder_builtin_target"></ul>
									
									<li class="pythonfolder" id="process_folder_python" data-toggle="collapse" data-target="#process_folder_python_target">
										<a href="javascript:void(0)">Python</a>
									</li>
									<ul class="sub-menu collapse" id="process_folder_python_target"></ul>
								</ul>
				
				
								<li data-intro="Workflows are linked pipes of a number of processes. You can easily turn complicated scientific experiments into several worflows and execute and manage them from here. "   data-toggle="collapse" data-target="#workflows">
									<a href="javascript:void(0)">
										<i class="fa fa-cogs fa-lg"  data-toggle="tooltip" title="Add new workflow"></i>&nbsp;&nbsp;&nbsp;<b>Workflows</b>
										<i data-toggle="collapse" data-target="#workflows" class="fas fa-caret-up pull-right"></i>
									</a>
								</li>  
								<ul  class="sub-menu collapse" id="workflows">
									
								</ul>

								<li data-intro="All the other tools"   data-toggle="collapse" data-target="#tools">
									<a href="javascript:void(0)">
										<i class="fa fa-cube fa-lg"  data-toggle="tooltip" ></i>&nbsp;&nbsp;&nbsp;<b>Tools</b>
										<i data-toggle="collapse" data-target="#tools" class="fas fa-caret-up pull-right"></i>
									</a>
								</li>
								<ul  class="sub-menu collapse" id="tools">
									<li id="toolbar-search">
										<a data-toggle="tooltip" title="Search Process/Workflow/Hosts"
										href="javascript:void(0)">
											<i class="fa fa-search fa-lg" alt="search" ></i>&nbsp;&nbsp;&nbsp;Search
										</a>
									</li>
	
									<li id="toolbar-history" >
										<a data-toggle="tooltip" title="Process/Workflow History"
											href="javascript:void(0)">
											<i class="fa fa-history fa-lg" alt="List the recent execution history"> </i>&nbsp;&nbsp;&nbsp;History
										</a>
									</li>
									
									<li id="toolbar-monitor">
										<a data-toggle="tooltip" title="Monitor Running Process/Workflow"
										href="javascript:void(0)">
											<i class="fa fa-film fa-lg" alt="monitor" > </i>&nbsp;&nbsp;&nbsp;Monitor
										</a>
	
									</li>
					
									<li id="toolbar-settings">
										<a data-toggle="tooltip" title="Settings"
										href="javascript:void(0)">
											<i class="fa fa-cog fa-lg" alt="settings"  > </i>&nbsp;&nbsp;&nbsp;Settings
										</a>
	
									</li>
	
									<li onclick="GW.tutorial.showDialog()">
										<a >
										<i class="fa fa-book fa-lg"></i>&nbsp;&nbsp;&nbsp;Tutorial
										</a>
									</li>
						
									<li onclick="GW.about.showDialog()">
										<a >
										<i class="fa fa-info fa-lg"></i>&nbsp;&nbsp;&nbsp;About
										</a>
									</li>

									<li onclick="GW.feedback.showDialog()">
										<a >
											<i class="fa fa-solid fa-comment"></i>&nbsp;&nbsp;&nbsp;Contact
										</a>

									</li>

								</ul>
								
							</ul>

						</div>
						
					</div>

					
				</div>
			    <!-- Workspace -->
			    
			    <div class="col col-md-9" id="main_panel_div" style="transition: 0.3s; height:100%; margin: 0; padding:0;">

					<button class="workspace_collapse_btn">&gt;&gt;&gt;</button>

					<div class="row" id="top_menu_bar_div"  style="height: 50px; margin: 0; padding: 0; ">

						<div class="tab col-md-12"  style="overflow: hidden; padding:0; margin:0;" >
						  
						  <button class="tablinks toptoolbarbtn" id="main-workspace-tab" onclick="openCity(event, 'workspace')" >
							Weaver
						  </button>
						  <button class="tablinks toptoolbarbtn" id="main-console-tab" onclick="openCity(event, 'main-console')" >
							Log
						  </button>
						  <button class="tablinks toptoolbarbtn" id="main-dashboard-tab" onclick="openCity(event, 'main-dashboard')" >
							Status
						  </button> 
						  <button class="tablinks toptoolbarbtn" id="main-general-tab" onclick="openCity(event, 'main-documentation')" >
							Guide
						  </button>
						  <button class="tablinks toptoolbarbtn invisible" id="main-general-tab" onclick="openCity(event, 'main-general')" >
							X
						  </button>
						  <button class="tablinks toptoolbarbtn invisible" id="main-host-tab" onclick="openCity(event, 'main-host-info')" >X
						  </button>
						  <button class="tablinks toptoolbarbtn invisible" id="main-process-tab" onclick="openCity(event, 'main-process-info')" >X
						  </button>
						  <button class="tablinks toptoolbarbtn invisible" id="main-workflow-tab" onclick="openCity(event, 'main-workflow-info')" >X
						  </button>
						  
						  <button class="loginbtn toptoolbarbtn pull-right" onclick="GW.user.logindialog()" id="toolbar-loginout-a">
							<i title="login" class="fa fa-user fa-2x"></i>
						  </button>
						  
						  <button class="toptoolbarbtn pull-right" style="width: 120px;visibility: hidden;" onclick="GW.user.profiledialog()" id="toolbar-profile-a">
							<i title="login" class="fa fa-user fa-2x" alt="info" id="toolbar-profile">Hi, </i>
						  </button>
		
		
						</div>
						
					</div>

					<div id="right-page-div" class="row" style="height:calc( 100% - 50px ); left:0; margin:0; padding: 0;padding-bottom:0px;">

						<div class="col col-md-12" id="main-workspace-container" style="height:100%; left:0; margin:0; padding: 0;padding-bottom:0px;">


							<div id="main-general" class="tabcontent" style="height:100%; left:0; margin:0; padding: 0;padding-bottom:0px;"> 
								<div id="main-general-content" style="height:100%; overflow-y: scroll; padding: 30px;">
									<h1 style="color:rgb(38, 90, 139);text-align:center;font-family:'lato', sans-serif;font-size:80px">GEOWEAVER</h1>
									<p style="text-align:center" class="lead">When it comes to full-stack AI workflows <b>every step matters!</p></b>
		
									<div class="features">
										<!-- <div class="container"> -->
											<div class="row" style="background-color: rgb(236, 236, 236); ">
												<div class="col-md-3 feature">
													<h1 style="color:rgb(92,184,91);text-align: center" <i class="fa fa-lock-open"></i></h1>	
													<h3>Open/Web Based</h3>
													<p> Geoweaver is an open source web-based application allowing users to compose, execute, and share full-stack distributed AI workflows.</p>
												</div>
												<div class="col-md-3 feature">
													<h1 style="color:rgb(92,184,91);text-align: center" <i class="fa fa-code"></i></h1>	
													<h3>Python driven/OS of choice</h3>
														<p>Geoweaver supports Python and shell scripting. Geowever can be installed on Linux, Mac, and Windows.</p>
													</div>
												<div class="col-md-3 feature">
													<h1 style="color:rgb(92,184,91);text-align: center" <i class="fa fa-share"></i></h1>
													<h3>Share workflows </h3>
													<p> Full-stack workflows can be exported/imported as a single package file. That package file includes source code and execution history. </a></p>
												</div>
												<div class="col-md-3 feature">
													<h1 style="color:rgb(92,184,91);text-align: center" <i class="fa fa-history"></i></h1>
													<h3>Provenance </h3>
													<p>Geoweaver records the history of each execution and each change to the code, whether in Python, Jupyter notebooks, or a shell script. </p>
												</div>
											</div>
										<!-- </div> -->
									</div>
		
									<section id="weaver_example">
										<div class="row">
											<div class="col-md-6">
												<img class="img-responsive" src="../img/weaver_graphic.png" id="portal" alt="example weaver graphic"/>
											</div>
												<div class="col-md-6 nb-highlight-text">
													<h3>Weaver: Build <b>your</b> AI workflow!</h3>
													<h4> Geoweaver takes every step of a full-stack AI workflow and translates it into a reproducible, sharable push-button solution.</h4>
													<button type="button" class="btn btn-success" onclick="GW.general.switchTab('workspace')">Create Your First Workflow</button>
												</div>
											</div>
									</section>
		
									<section id="bottom_info_bar">
										<div class="row" style="background-color:rgb(0, 0, 0);">
											<div class="col-md-6" style="color:white">
												<p>Geoweaver (version <span class="gw_version">0.9.7</span>) is currently supported by ESIP, NSF geoinformatics program #1947893 & #1947875, and NASA ACCESS-19.
												</p>
											</div>
												<div class="col-md-6 nb-highlight-text" style="color:rgb(255, 255, 255); text-align:left;" >
													<p> Geoweaver is a <b>community effort</b> and we welcome all contributors. If you want to get involved, please create your first issue at <a href="http://github.com/ESIPFed/Geoweaver">Github.</a></p>
												</div>
										</div>
									</section>
		
								</div>	
							</div>
		
							<div id="main-documentation" class="tabcontent" style="height:100%; left:0; margin:0; padding: 30px;padding-bottom:0px; overflow: auto;">
								<div id="main-documentation-content">
									<div class="row">       
										<div  class="col col-md-12">
		
											<h2 style="color:black;font-weight: bold;font-size: 50px; font-family: 'Lato', sans-serif;padding-top:1px;padding-left:5px" >Geoweaver User Guide<a target="_blank" href="http://github.com/ESIPFed/Geoweaver" style="font-size: 30px;"></a></h2>
		
											<ul class="lead" >
												<a href="#quickstart">Quickstart</a> |  <a href="#supported_hosts">Supported Hosts</a> | <a href="#processes">Processes</a> |  <a href="#workflow">Workflow </a>
											</ul>
		
											<hr/>
											<a id="quickstart"></a>
											<h2>Quick Start Guide</h2>
											<h4>0. Get Geoweaver Password</h4>
											<ul>
												<li>Geoweaver will automatically create a password for your local machine. You need to know that password before you start. It can be found in Terminal logs when Geoweaver is first started (only shown at the first time).</li> 
												<li>If you missed the first start logs and don't know the password, please use command <span class="badge badge-secondary">java -jar geoweaver.jar resetpassword</span> to reset it. </li>
											</ul>
											
											<h4>1. Create and run a Process</h4>
											<ul>
												<li>Click <button type="button" class="btn btn-success btn-xs" id="newprocess">New Process</button> after 'Process' on the left menu.</li>
												<li>Select "Python" from the Language dropdown. </li>
												<li>Input "helloworld" for the name. </li>
												<li>Add the code <i style="font-family:'Courier New'">print 'hello world'</i> to the code area. </li>
												<li>Click "Add" on the bottom. A new process "helloworld" will be added to the Process/Python basket.</li>
												<li>Click on the newly added helloworld process. An informational panel will show in the main area.</li>
												<li>Click <i class="fa fa-play subalignicon"></i> to run the process. In the popup window, select "Localhost" and click "Execute". In the popup Python environment dialog, click "Confirm" to the default. Add your password. </li>
												<li>If you see <i style="font-family:'Courier New'">hello world </i>printed in the logging window, it means you have successfully created and run your first process in Geoweaver! Congrats!</li>
											</ul>
		
		
											<h4>2. Create and Run a Workflow</h4>
											
											<ul>
												<li>Click twice on <button type="button" class="btn btn-warning btn-xs" >Add to Weaver</button> after the "helloworld" process created in Step 1. The main work area will switch to the "Weaver" tab and two circles containing "Hello World" should appear in the workspace. </li>
												<li>Link the two circles by dragging from one circle and dropping on another circle while pressing "SHIFT" on the keyboard. </li>
												<li>Click <i class="fa fa-plus-square"></i> on the topleft" toolbar in Weaver. In the popup window, input "HelloWorldWorkflow" as the workflow name, and type "Testing hello world" as Description. Click "Confirm".</li>
												<li>To run the workflow, click <i class="fa fa-play" ></i>. In the popup window, select "one-host" option. Choose localhost and set the environment to the default. Click "Run".</li>
												<li>In the password dialog, enter the password for localhost. </li>
												<li>While the workflow is in execution mode, blue means the process is waiting, yellow means the corresponding process is running, green means the process execution is finished, and red means the process execution is failed for some reason.</li>
												<li>Double click on the circles to check the real time output. If users need more details, click "Details" button in the popup information window. </li>
											</ul>
		
											<h4>3. Export a Workflow</h4>
											<ul>
												<li>Click <i class="fa fa-download"></i> when the workflow is present in the Weaver workspace. </li>
												<li>In the popup window, there are two options: workflow with process code / workflow with process code and history. The former will only download source code and workflow json. The latter will download not only source code and workflow, but also all the history details of previous execution of the workflow. </li>
												<li>Click "Confirm". A ZIP file will be automatically downloaded to your machine.</li>
											</ul>
												
											<h4>4. Import a workflow</h4>
											<ul>
												<li>Click <i class="fa fa-upload"></i>. In the upload window, select the ZIP file, click "Start". </li>
												<li>Once the uploading finished, if the workflow file is valid, it will ask "The upload workflow is valid. Do you want to proceed to save it into the database?" Click "OK".</li>
												<li>The workflow will be automatically loaded into the Weaver workspace and ready for execution and reuse. </li>
												<li>Congratulations you have learnt how to use Geoweaver!</li>
		
											</ul>
											
											<a id="supported_hosts"></a>
											<h2>Supported Hosts</h2>
											
											<h4>Linux/Win/Mac Machine</h4>
											
											<p>Geoweaver provides a Host category called `Linux/Win/Mac Computers` to manage all the `local`/`remote` machines.</p>
		
											<p>For `local computers` (where Geoweaver is running at), Geoweaver can directly access, manage, and run commands/programs. For security reasons, it will automatically generate a password at its first boot. Scientists have to input the correct passwords to execute their programs or do any action on the local computers via Geoweaver. The computer's authenticated users can change their Geoweaver password anytime (please refer to [reset password](install.md)).</p>
											
											<p>For `remote computers` (where Geoweaver is not installed on but can access via networks), Geoweaver can access, manage, run commands/programs on them if the operating systems have SSH service enabled and Geoweaver users have valid accounts on those computers. Geoweaver provides a file browser and uploader for users to transfer the files from/to the remote servers. SSH, or Secure Shell, is a remote administration protocol that allows users to control remote servers over the Internet. It provides a mechanism for authenticating a remote user, transferring inputs from the client to the host, and relaying the output back to the client. </p>
		
											<a id="processes"></a>
											<h2>Processes</h2>
											
											<p>Geoweaver supports four types of processes to be executed on the SSH hosts enlisted in the Host section: Shell script, Notebooks, Python code, and Builtin processes.</p>
		
											<h4>Shell</h4>
											
											<p>Shell scripts can be directly created, saved, executed, and monitored in Geoweaver. Users can execute the shell scripts on remote servers or the localhost server which Geoweaver is hosted. </p>
												
											<h4>NoteBook</h4>
											<p> Geoweaver supports to run Jupyter notebooks using the nbconvert command. The notebook and its logout are recorded in the database. </p>
											
											<h4>Build In Process</h4>
											<p>To help people with limited programming skills, we are developing a set of built-in processes which have fixed program code and expose only input parameters to users.
												These processes make Geoweaver a powerful AI graphical user interface for the diverse user groups to learn and experiment their AI workflows without coding. 
												Most buil-in processes in Geoweaver are developed based on the existing AI python ecosystem like Keras and Scikit-learn. 
												This section is under intensive development right now. New features supporting users to create a full-stack AI workflow without writing a single line of code are on our development schedule.  
											</p>
											
											<h4>Python</h4>
											<p>Python is one of the most popular AI programming langauge and most AI-related packages reside in Python. 
												Geoweaver supports Python coding and scripting on top of multiple servers while reserving and maintaining the code in one database. 
											All the historical runs are recorded and served in Geoweaver to prevent future duplicated attempts and significantly improve the reproducibility and reusability of AI programs. </p>
												
											<a id="workflow"></a>
											<h2>Workflow</h2>
														
											<p>The workflow module allows users to compose a workflow using the existing processes. The workflow graph composer only supports Directed Acyclic Graph (DAG) (no cyclic loops and bidirectional connections) to chain multiple processes into workflows. Geoweaver provides an all-in-one function to execute, monitor, trace, and display the workflows, and check the history of workflow execution. During the execution, the color of the processes indicate the real-time status: Yellow - Running; Red - Failure; Green - Success. </p>
		
										</div>													
									</div>
								</div>
							</div>
		
							<div id="main-dashboard" class="tabcontent" style="height:100%; left:0; margin:0; padding: 0;padding-bottom:0px;">
								<div id="main-dashboard-content" style="width:100%; height:100%; overflow-y: scroll; padding: 10px; ">
									
								</div>
							</div>
							
							<div id="main-host-info" class="tabcontent" style="height:100%; left:0; margin:0; padding: 0;padding-bottom:0px;">
									<div id="main-host-content" style="height:100%; overflow-y: scroll; padding: 10px; ">
									<h2 style="color:black">Please select a host on the left panel or <button id="host-entry-create-btn" type="button" class="btn btn-success" onclick="GW.host.newDialog()">create</button> a new host! </h2>
									</div>
							</div>
								
							<div id="main-process-info" class="tabcontent" style="height:100%; left:0; margin:0; padding: 0;padding-bottom:0px;">
									<div id="main-process-content" style="height:100%; width:100%;">
									<h2 style="color:black">Please select a process on the left panel or <button id="process-entry-create-btn" type="button" class="btn btn-success" onclick="GW.process.newDialog()">create</button> a new process!</h2>
									</div>
							</div>
							
							<div id="main-workflow-info" class="tabcontent" style="height:100%; left:0; margin:0; padding: 0;padding-bottom:0px;">
									<div id="main-workflow-content" style="width: 100%; height:100%; padding: 10px;">
									<h2 style="color:black">Please select a workflow on the left panel or <button id="workflow-entry-create-btn" type="button" class="btn btn-success" onclick="GW.general.switchTab('workspace')">create</button> a new workflow!</h2>
									</div>
							</div>
								
							<div id="main-console" class="tabcontent" style="height:100%; padding:0; left:0; margin:0; padding-bottom:0px;">
								<div id="main-console-content" style="width:100%; height:100%; overflow-y: scroll; margin:0; padding: 10px;">
									<h2 style="color:black">Logging <button class="btn btn-primary pull-right" onclick="GW.ssh.clearMain();">Clear</button></h2>
									<div id="log-window" class="log_window" >
									
									</div>
									<div class="d-flex justify-content-center"><div class="dot-flashing invisible"></div></div>
								</div>
							</div>
					
							<div id="workspace" class="tabcontent" style="height:100%; margin: 0;padding: 0;">
								
								<!-- status indicator right bottom -->
								
								<div id="workspace_status_indicator" style="position: absolute; bottom: 20px; right: 20px; height: 50px; z-index:1;">
										<!--<span id="current_workflow_name" class="invisible">Current Workflow: </span>-->
											
											
											<h2><i class="fa fa-spinner fa-spin invisible" id="running_spinner" style="font-size:20px;color:red"></i><span id="current_workflow_na" class="badge badge-info" style="font-size: 20px;" ></span></h2>
								
								</div>
								
								<!-- progress right bottom, above the status indicator -->
								
								<div id="workspace_progress_indicator" class="visible" style="position: absolute; max-height: 350px; top: 80px; right: 10px; width:100px; z-index:1; overflow-y: scroll;">
									
									
								</div>
								
								<div id="toolbox">
							
									<!-- <b style="text-align:center; padding:10px; margin-top:10px; ">Options</b> -->
									
									<input id="hidden-file-upload" type="file" title="Hidden File Upload" class="btn fa fa-alien" style="color:gray; margin:0;margin-top:5px;  padding:0;" alt="Hidden File Upload" />
									
									<i id="new-workflow" title="new workspace" class="btn fa fa-file fa-2x weaver-toolbar-btn" alt="new workspace" ></i>
									
									<i id="add-workflow" title="create a new workflow" class="btn fa fa-plus-square fa-2x weaver-toolbar-btn" alt="create new workflow" ></i>
		
									<i id="upload-input" title="import workflow" class="btn fa fa-upload fa-2x weaver-toolbar-btn" alt="import workflow" ></i>
										
									<i id="download-input" title="export workflow" class="btn fa fa-download fa-2x weaver-toolbar-btn" alt="export workflow" ></i>
										
									<i id="save-workflow" title="save workflow" class="btn fa fa-save fa-2x weaver-toolbar-btn" alt="save workflow"></i> 
										
									<i id="execute-workflow" title="execute workflow" class="btn fa fa-play fa-2x weaver-toolbar-btn" alt="execute workflow"></i> 
										
									<i id="geoweaver-details" title="information" class="btn fa fa-info fa-2x weaver-toolbar-btn" alt="show object information"></i>
									
									<i id="geoweaver-log" title="log" class="btn fa fa-history fa-2x weaver-toolbar-btn" alt="show process log"></i> 
										
									<i id="show-full-view" title="show full extent view" class="btn fa fa-life-ring fa-2x weaver-toolbar-btn" alt="full extent view"></i> 
									<!-- <i id="geoweaver-result" title="result" class="btn fa fa-tv fa-2x weaver-toolbar-btn"  alt="get result"></i>  -->
										
									<i id="delete-graph" title="delete graph" class="btn fa fa-trash fa-2x weaver-toolbar-btn"  alt="delete graph" ></i> 
									
								</div>
							
							</div>

						</div>

					</div>

					<div id="loading-state-div" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none">
						<img src="../gif/loading-spinner.gif" width="100px" height="100px" style="display: block; margin: auto"/>
						<h3>Processing your import</h3>
					</div>


					
			    </div>

				<div class="modal fade" id="resultmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">              
				      <div class="modal-body">
				      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <img src="" class="imagepreview" style="width: 100%;" />
				      </div>
				    </div>
				  </div>
				</div>
				
			</div>

			<div class="cd-panel cd-panel--from-right js-cd-panel-main" id="prompt-panel">
				<header class="cd-panel__header">
				   <h3>Process Details</h3>
				   
				   <div onclick="GW.process.sidepanel.close()" class="prompt-panel-close-btn">
						<img src="../img/close-sidenav.png" alt="close" width="20" height="20" />
				   </div>
				</header>
			 
				<div class="cd-panel__container">
				   <div class="cd-panel__content" id="prompt-panel-main" style="height:calc(100% - 150px); width:100%;">
					  <!-- your side panel content here -->
				   </div> <!-- cd-panel__content -->
				</div> <!-- cd-panel__container -->
			 </div> <!-- cd-panel -->
			
			<!-- The actual snackbar showing the saved/code update message -->
			<div id="snackbar" style="z-index: 100;">Some message..</div>
		</div>
		
		<script src="../js/es5-shim.min.js"></script>
        <script src="../js/marked.min.js"></script>
        <script src="../js/ansi_up.min.js"></script>
        <script src="../js/prism.min.js"></script>
		<script src="../js/notebook.js" ></script>
    	<script src="../js/d3.min.js"></script>
	    <script src="../js/gw.js"></script>
	    <script src="../js/gw.general.js"></script>
	    <script src="../js/gw.tutorial.js"></script>
	    <script src="../js/gw.about.js"></script>
		<script src="../js/gw.feedback.js"></script>
	    <script src="../js/gw.chart.js"></script>
	    <script src="../js/gw.workspace.js"></script>
	    <script src="../js/gw.ssh.js"></script>
	    <script src="../js/gw.fileupload.js"></script>
	    <script src="../js/gw.filebrowser.js"></script>
	    <script src="../js/gw.comparison.js"></script>
		<script src="../js/gw.history.js"></script>
	    <script src="../js/gw.host.js"></script>
	    <script src="../js/gw.result.js"></script>
		<script src="../js/gw.editor.js"></script>
	    <script src="../js/gw.process.js"></script>
		<script src="../js/gw.process.util.js"></script>
		<script src="../js/gw.process.sidepanel.js"></script>
	    <script src="../js/gw.workflow.js"></script>
	    <script src="../js/gw.monitor.js"></script>
		<script src="../js/gw.dashboard.js"></script>
		<script src="../js/gw.user.js"></script>
	    <script src="../js/gw.search.js"></script>
	    <script src="../js/gw.settings.js"></script>
	    <script src="../js/gw.toolbar.js"></script>
	    <script src="../js/gw.menu.js"></script>
		<script src="../js/gw.home.js"></script>
	    <script src="../js/gw.main.js"></script>
	    
	</body>

</html>