<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html   xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frame"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Geoweaver Team">
		<meta name="sponsor" content="NASA, NSF, ESIPLab">
		<meta name="keywords" content="Scientific Workflow Management">
		
		<title>Geoweaver</title>

		<!-- Bootstrap core CSS -->
		<link href="../css/bootstrap.min.css" rel="stylesheet">


		<script src="../js/jquery-1.11.3.min.js"></script>
		<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<script src="../js/bootstrap.min.js"></script>

		<link href="../css/style.css" rel="stylesheet" type="text/css"/>

		<!-- All the files that are required -->
		<meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1" />
		
    </head>

    <body>
    	<div class="modal-header">

            <div>
                <a class="navbar-brand" href="../">Geoweaver</a>
            </div>

        </div>
	      <!-- Fixed navbar -->
	      
	      
                    			
        <div class="modal-body">
	      
		    <div th:if="${error == null}">
		    	<br><br>
   				<h2 style="text-align: center;">Forgot Password</h2>
			</div>
			     
			<div th:if="${error != null}">
			    <p class="text-danger" style="text-align: center;" th:text="${error}"></p>
			</div>
			
			<div th:if="${message != null}">
			    <p class="text-warning">[[${message}]]</p>
			</div>
			         
			<form th:if="${error == null}" th:action="@{reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
			    <input type="hidden" name="token" th:value="${token}" />
				<div class="border border-secondary rounded p-3">
				    <div>
				        <p>
				            <input type="password" name="password" id="password" class="form-control"
				                placeholder="Enter your new password" required autofocus />
				        </p>         
				        <p>
				            <input type="password" name="password_confirmed" id="password_confirmed" class="form-control" placeholder="Confirm your new password"
				                required/>
				        </p>         
				        <p class="text-center">
				            <input type="submit" value="Change Password" class="btn btn-primary" onclick="IDS.userManagement.resetPassword();"/>
				        </p>
				    </div>
				</div>
			</form>
			

        
        </div>
             
		
        <footer class="footer bg-dark">
			<br/>
            

            
            <br/><br/>
		 	<!-- FOOTER -->
	        <div class="footer-copyright text-center py-3" style="text-align: center;">
	      		2020 © Geoweaver Team
		  	</div>
	        
		</footer>
    </body>
</html>


