<!DOCTYPE html>
<html lang="en-us">

	<head>
	
		<title>Geoweaver</title>
		
		<link rel="icon" href="../img/favicon.ico" />
		
		<link rel="stylesheet" href="../css/jquery.dataTables.min.css" />
		
		<link href="../css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
		<link href="../css/bootstrap-dialog.min.css" rel="stylesheet"/>
		
   		<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.min.css" rel="stylesheet" /> -->
   		<link href="../css/bootstrap-colorpicker.min.css" rel="stylesheet" />
		
		<!-- <link href="../css/font-awesome.css" rel="stylesheet" /> -->
		
		<link href="../css/all.min.css" rel="stylesheet" />
		
		<link href="../css/workspace.css" rel="stylesheet" />
		
		<link href="../css/sidemenu.css" rel="stylesheet" />
		
		<link rel="stylesheet" href="../js/codemirror/lib/codemirror.css" />
		
		<link rel="stylesheet" href="../js/codemirror/theme/xq-dark.css">
		<link rel="stylesheet" href="../js/codemirror/theme/xq-light.css">
		<link rel="stylesheet" href="../js/codemirror/theme/yeti.css">
		<link rel="stylesheet" href="../js/codemirror/theme/idea.css">
		<link rel="stylesheet" href="../js/codemirror/theme/darcula.css">
		<link rel="stylesheet" href="../js/codemirror/theme/yonce.css">
		<link rel="stylesheet" href="../js/codemirror/theme/zenburn.css">
		
		<!-- <link href="https://danielmg.org/assets/demo/uploader/css/jquery.dm-uploader.min.css?v=v10" rel="stylesheet" /> -->
    	<link rel="stylesheet" href="../css/jquery.dm-uploader.min.css" />
   		<!-- <link href="https://danielmg.org/assets/demo/uploader/css/main.css?v=v10" rel="stylesheet" /> -->
   		<link rel="stylesheet" href="../css/main.css" />
   		
   		<link rel="stylesheet" href="../css/prism.css" />
    	
        <link rel="stylesheet" href="../css/notebook.css" />
        
        <link rel="stylesheet" href="../css/nbpreview.css" />
        
        <link rel="stylesheet" href="../css/imageviewer.css" />
        
        <link rel="stylesheet" href="../css/Chart.min.css" />

		<link rel="stylesheet" href="../css/landing.css" />
        
        <link href="../css/introjs.min.css" rel="stylesheet" />
        
		<script type="text/javascript" src="../js/FileSaver.min.js"></script>
		
		<script type="text/javascript" src="../js/jsencrypt.min.js"></script>
		
		<script type="text/javascript" src="../ssh/sockjs.js" ></script>
		
		<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
		
		<script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
		
		<script type="text/javascript" src="../js/dataTables.cellEdit.js"></script>
		
		<script type="text/javascript" src="../js/imageviewer.min.js"></script>
		
		<!-- <script src="https://danielmg.org/assets/demo/uploader/js/jquery.dm-uploader.min.js?v=v10"></script>
	    
	    <script src="https://danielmg.org/assets/demo/uploader/js/ui-main.js?v=v10"></script>
		    
	    <script src="https://danielmg.org/assets/demo/uploader/js/ui-multiple.js?v=v10"></script>
	  	
	    <script src="https://danielmg.org/assets/demo/uploader/js/configs/no-queue.js?v=v10"></script> -->
	    
	    <script type="text/javascript" src="../js/jquery.dm-uploader.min.js"></script>
	    
	    <script type="text/javascript" src="../js/ui-main.js"></script>
	    
	    <script type="text/javascript" src="../js/ui-multiple.js"></script>
	    
	    <script type="text/javascript" src="../js/no-queue.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/lib/codemirror.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/mode/shell/shell.js"></script>
		
		<script type="text/javascript" src="../js/codemirror/addon/display/placeholder.js"></script>
		
		<script type="text/javascript" src="../js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="../js/bootstrap-dialog.min.js"></script>
    
   		<script type="text/javascript" src="../js/bootstrap-treeview.js" ></script>
   	
   		<script type="text/javascript" src="../js/jsframe.js" ></script>
    	
    	<script type="text/javascript" src="../js/Chart.min.js"></script>
    	
    	<script type="text/javascript" src="../js/intro.min.js"></script>
    	
	</head>
	
	<body style="cursor: auto; padding:0;" class=" overflow-auto">
	
		<div id="jsframe-container"></div>
	
		<div class="container overflow-auto" style="margin:0; padding:0; width:100%; height:100%;">
			
			<div class="row"  style="height: 50px; margin: 0; padding: 0; background-color:black;">
				
				<div data-intro="Top Bar contains button for managing the host/process/workflow in GeoWeaver database" style="overflow: auto;">
				  <a  style="float: left; width: 100px;text-align: center; transition: all 0.3s ease;background-color:grey " href="/Geoweaver/web">
				  	<img src="../img/header.png" width="100px" height="50px" />
				  </a>
				  <!--<a id="toolbar-search"  
				  data-toggle="tooltip" title="Search Process/Workflow/Hosts"
				  style="float: left; width: 80px;text-align: center;margin-top: 9px;padding-top: 5px;transition: all 0.3s ease;color: white;font-size: 16px;" href="javascript:void(0)">
				  	<i class="fa fa-search" alt="search" > Search</i>
				  </a>
				  <a id="toolbar-add" 
				  data-toggle="tooltip" title="New Host/Process/Workflow"
				  style="float: left; width: 80px;text-align: center;margin-top: 9px;padding-top: 5px;transition: all 0.3s ease;color: white;font-size: 16px;" href="javascript:void(0)">
				  	<i class="fa fa-plus"  alt="create" > Create</i>
				  </a>
				  <a id="toolbar-history" 
				  data-toggle="tooltip" title="Process/Workflow History"
				  style="float: left; width: 80px;text-align: center;margin-top: 9px;padding-top: 5px;transition: all 0.3s ease;color: white;font-size: 16px;" href="javascript:void(0)">
				  	<i class="fa fa-history" alt="List the recent execution history"> History</i>
				  </a>
				  <a id="toolbar-monitor" 
				  data-toggle="tooltip" title="Monitor Running Process/Workflow"
				  style="float: left; width: 80px;text-align: center;margin-top: 9px;padding-top: 5px;transition: all 0.3s ease;color: white;font-size: 16px;" href="javascript:void(0)">
				  	<i class="fa fa-film" alt="monitor" > Monitor</i>
				  </a>
				  <a id="toolbar-settings" 
				  data-toggle="tooltip" title="Settings"
				  style="float: left; width: 80px;text-align: center;margin-top: 9px;padding-top: 5px;transition: all 0.3s ease;color: white;font-size: 16px;" href="javascript:void(0)">
				  	<i class="fa fa-cog" alt="settings"  > Settings</i>
				  </a>
				  <a id="toolbar-print" 
				  data-toggle="tooltip" title="Print"
				  style="float: left; width: 80px;text-align: center;margin-top: 9px;padding-top: 5px;transition: all 0.3s ease;color: white;font-size: 16px;" href="javascript:void(0)">
				  	<i class="fa fa-print" alt="print" > Print</i>
				  </a>
				  <a  
				  data-toggle="tooltip" title="Information"
				  style="float: left; width: 80px;text-align: center;margin-top: 9px;padding-top: 5px;transition: all 0.3s ease;color: white;font-size: 16px;" href="javascript:GW.tutorial.showDialog()">
                  	<i class="fa fa-book" alt="tutorial" > Tutorial</i> 
                  </a>
				  <a style="float: right; width: 80px;text-align: center;margin-top: 9px;padding-top: 5px;transition: all 0.3s ease;color: white;font-size: 16px;" href="javascript:GW.about.showDialog()">
				  	<i class="fa fa-info" alt="info" id="toolbar-info"> Info</i>
				  </a>

				  <a style="float: right; width: 100px;text-align: center; font-weight: bold; margin-top: 9px;padding-top: 5px;transition: all 0.3s ease;color: yellow;font-size: 16px;" href="javascript:GW.user.logindialog()" id="toolbar-loginout-a">
					Login
				  </a>
				  
				  <a style="float: right; width: 120px;visibility: hidden; text-align: right;margin-top: 9px;padding-top: 5px;transition: all 0.3s ease;color: white;font-size: 16px;" href="javascript:GW.user.profiledialog()" id="toolbar-profile-a">
					<i class="fa fa-user" alt="info" id="toolbar-profile"> Welcome</i>
				  </a>-->

				</div>
				
				
			</div>

			<div class="main-body" style=" height:100%; overflow: visible">
    
				<!-- Breadcrumb -->
				<!-- <nav aria-label="breadcrumb" class="main-breadcrumb">
				  <ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
					<li class="breadcrumb-item active" aria-current="page">User Profile</li>
				  </ol>
				</nav> -->
				<!-- /Breadcrumb -->
		  
				<div class="row gutters-sm">
				  <div class="col-md-1"></div>
				  <div class="col-md-2 mb-3">
					<div class="card">
					  <div class="card-body">
						<div class="d-flex flex-column align-items-center text-center">
						  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
						  <div class="mt-3">
							<h4 th:text="${user.username}"></h4>
							<p class="text-secondary mb-1" th:text="${user.role}"></p>
							<p class="text-secondary mb-1" >Active: <span th:text="${user.isactive}"></span></p>
							<p class="text-secondary mb-1">Workflow Owner</p>
						  </div>
						</div>
					  </div>
					</div>
					<hr/>
					<div class="card mt-3">
						<div class="card-body">
						  <div class="d-flex flex-column align-items-center text-center">
							
							<div class="mt-3">
								<p></p>
								<button class="btn btn-success">Run This Workflow</button>
							</div>
						  </div>
						</div>
					  </div>
					<div class="card mt-3">
					  <ul class="list-group list-group-flush">
						<!-- <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
						  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
						  <span class="text-secondary">https://bootdey.com</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
						  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
						  <span class="text-secondary">bootdey</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
						  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
						  <span class="text-secondary">@bootdey</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
						  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
						  <span class="text-secondary">bootdey</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
						  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
						  <span class="text-secondary">bootdey</span>
						</li> -->
					  </ul>
					</div>
				  </div>

				  <!--  workflow information body area -->

				  <div class="col-md-6">
					<div class="card mb-3">
					  <div class="card-body">
						<div class="row">
						  <div class="col-sm-3">
							<h6 class="mb-0">Workflow Name</h6>
						  </div>
						  <div class="col-sm-9 text-secondary" th:text="${workflow.name}">
							
						  </div>
						</div>
						<hr>
						<div class="row">
						  <div class="col-sm-3">
							<h6 class="mb-0">Description</h6>
						  </div>
						  <div class="col-sm-9 text-secondary" th:text="${workflow.description}" >
							
						  </div>
						</div>
						<hr>
						<div class="row">
						  <div class="col-sm-3">
							<h6 class="mb-0">Workflow Nodes</h6>
						  </div>
						  <div class="col-sm-9 text-secondary" th:text="${workflow.nodes}">
							(239) 816-9029
						  </div>
						</div>
						<hr>
						<div class="row">
						  <div class="col-sm-3">
							<h6 class="mb-0">Connections</h6>
						  </div>
						  <div class="col-sm-9 text-secondary" th:text="${workflow.edges}">
							(320) 380-4539
						  </div>
						</div>
						<hr>
						<div class="row">
						  <div class="col-sm-3">
							<h6 class="mb-0">Address</h6>
						  </div>
						  <div class="col-sm-9 text-secondary">
							Bay Area, San Francisco, CA
						  </div>
						</div>
						<hr>
						<div class="row">
						  <div class="col-sm-12">
							<a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
						  </div>
						</div>
					  </div>
					</div>
	  
					<div class="row gutters-sm">
					  <div class="col-sm-6 mb-3">
						<div class="card h-100">
						  <div class="card-body">
							<h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
							<small>Web Design</small>
							<div class="progress mb-3" style="height: 5px">
							  <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<small>Website Markup</small>
							<div class="progress mb-3" style="height: 5px">
							  <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<small>One Page</small>
							<div class="progress mb-3" style="height: 5px">
							  <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<small>Mobile Template</small>
							<div class="progress mb-3" style="height: 5px">
							  <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<small>Backend API</small>
							<div class="progress mb-3" style="height: 5px">
							  <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="col-sm-6 mb-3">
						<div class="card h-100">
						  <div class="card-body">
							<h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
							<small>Web Design</small>
							<div class="progress mb-3" style="height: 5px">
							  <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<small>Website Markup</small>
							<div class="progress mb-3" style="height: 5px">
							  <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<small>One Page</small>
							<div class="progress mb-3" style="height: 5px">
							  <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<small>Mobile Template</small>
							<div class="progress mb-3" style="height: 5px">
							  <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<small>Backend API</small>
							<div class="progress mb-3" style="height: 5px">
							  <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
							<small>Web Design</small>
							<div class="progress mb-3" style="height: 5px">
							  <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<small>Website Markup</small>
							<div class="progress mb-3" style="height: 5px">
							  <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<small>One Page</small>
							<div class="progress mb-3" style="height: 5px">
							  <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<small>Mobile Template</small>
							<div class="progress mb-3" style="height: 5px">
							  <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<small>Backend API</small>
							<div class="progress mb-3" style="height: 5px">
							  <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
	  
	  
	  
				  </div>

				  <!-- The news, activities, and related information column -->
				  <div class="col-md-2">

					<div class="card mb-3">
						<div class="card-body">
							<div class="mt-3">
								<h4>Recent Activities</h4>
								<p class="text-secondary mb-1">XXX created workflow "EmissionAI"</p>
								<p class="text-secondary mb-1">XXX created workflow "CMAQAI"</p>
							</div>
						  <hr>
						</div>
					</div>
				  </div>

				</div>
	  
			  </div>
			
			
		
		</div>
		
		<script src="../js/es5-shim.min.js"></script>
        <script src="../js/marked.min.js"></script>
        <script src="../js/ansi_up.min.js"></script>
        <script src="../js/prism.min.js"></script>
		<script src="../js/notebook.js" ></script>
    	<script src="../js/d3.min.js"></script>
	    <script src="../js/gw.js"></script>
	    <script src="../js/gw.general.js"></script>
	    <script src="../js/gw.tutorial.js"></script>
	    <script src="../js/gw.about.js"></script>
	    <script src="../js/gw.chart.js"></script>
	    <script src="../js/gw.workspace.js"></script>
	    <script src="../js/gw.ssh.js"></script>
	    <script src="../js/gw.fileupload.js"></script>
	    <script src="../js/gw.filebrowser.js"></script>
	    <script src="../js/gw.comparison.js"></script>
		<script src="../js/gw.history.js"></script>
	    <script src="../js/gw.host.js"></script>
	    <script src="../js/gw.result.js"></script>
	    <script src="../js/gw.process.js"></script>
	    <script src="../js/gw.workflow.js"></script>
	    <script src="../js/gw.monitor.js"></script>
		<script src="../js/gw.dashboard.js"></script>
		<script src="../js/gw.user.js"></script>
	    <script src="../js/gw.search.js"></script>
	    <script src="../js/gw.settings.js"></script>
	    <script src="../js/gw.toolbar.js"></script>
	    <script src="../js/gw.menu.js"></script>
		<script src="../js/gw.home.js"></script>
	    <script src="../js/gw.main.js"></script>
	    
        <script>
	    
	    	function switchTab(ele, name){
	    		
	    	  console.log("Turn on the tab " + name)
	    		
	    	  var i, tabcontent, tablinks;
			  tabcontent = document.getElementsByClassName("tabcontent");
			  for (i = 0; i < tabcontent.length; i++) {
			    tabcontent[i].style.display = "none";
			  }
			  tablinks = document.getElementsByClassName("tablinks");
			  for (i = 0; i < tablinks.length; i++) {
			    tablinks[i].className = tablinks[i].className.replace(" active", "");
			  }
			  document.getElementById(name).style.display = "block";
			  ele.className += " active";

			  if(name=="main-dashboard"){

				GW.board.refresh();

			  }
	    		
	    	}
	    	
			function openCity(evt, name) {
			  switchTab(evt.currentTarget, name);
			}
			
			$(document).ready(function(){
				console.log("trigger click event");
				//$("main-content-tab").trigger("click")
				switchTab(document.getElementById("main-general-tab"), "main-general");
				
			});
			
			
		
		</script>
	    
	</body>

</html>


