<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:websocket="http://www.springframework.org/schema/websocket"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/websocket
        http://www.springframework.org/schema/websocket/spring-websocket.xsd">
        
        
		
		<!-- <websocket:handlers>
			<websocket:mapping path="/socket" handler="jupyterhandler"/>
			<websocket:handshake-interceptors>
				<bean class="org.springframework.web.socket.server.support.HttpSessionHandshakeInterceptor"/>
			</websocket:handshake-interceptors>
		</websocket:handlers>
		
		<bean id="jupyterhandler" class="gw.ws.JupyterHandler"/> -->
		
        <bean id="shellsocket" class="gw.ssh.ShellSocket"/>
        
        <bean id="tasksocket" class="gw.tasks.TaskSocket"/>
        
        <!-- <bean id="jupytersocket" class="gw.web.JupyterSocket"/> -->
		
        <websocket:handlers>
            
            <websocket:mapping path="/shell" handler="shellsocket"/>
            
            <websocket:mapping path="/task" handler="tasksocket"/>
            
            <!-- <websocket:mapping path="/jupyter" handler="jupytersocket"/> -->
            
            <websocket:sockjs/>
            
        </websocket:handlers>
        
</beans>