<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true" use-expressions="true">
	
		<intercept-url pattern="/CyberConnector/web/geoweaver-ssh-login**" access="ROLE_USER" />
	
	</http>
	
	<!-- <authentication-manager>
	
	  <authentication-provider>
	
	    <user-service>
	
			<user name="admin" password="123456" authorities="ROLE_USER" />
	
	    </user-service>
	
	  </authentication-provider>
	
	</authentication-manager> -->

</beans:beans>
