<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:websocket="http://www.springframework.org/schema/websocket"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/websocket
        http://www.springframework.org/schema/websocket/spring-websocket.xsd">
		
        <bean id="websocket" class="edu.gmu.csiss.earthcube.cyberconnector.ssh.ShellSocket"/>
		
        <websocket:handlers>
            <websocket:mapping path="/shell" handler="websocket"/>
            <websocket:sockjs/>
        </websocket:handlers>
</beans>