<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>CyberConnector Portal</display-name>
  <servlet>
    <servlet-name>GetInputDetailsServlet</servlet-name>
    <servlet-class>edu.gmu.csiss.earthcube.cyberconnector.servlet.GetInputDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInputDetailsServlet</servlet-name>
    <url-pattern>/GetInputDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FetchProductListServlet</servlet-name>
    <servlet-class>edu.gmu.csiss.earthcube.cyberconnector.servlet.FetchProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchProductListServlet</servlet-name>
    <url-pattern>/FetchProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderCheckingServlet</servlet-name>
    <servlet-class>edu.gmu.csiss.earthcube.cyberconnector.servlet.OrderCheckingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderCheckingServlet</servlet-name>
    <url-pattern>/OrderCheckingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServiceUnregistrationServlet</servlet-name>
    <servlet-class>edu.gmu.csiss.earthcube.cyberconnector.servlet.ServiceUnregistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceUnregistrationServlet</servlet-name>
    <url-pattern>/ServiceUnregistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServiceRegisterServlet</servlet-name>
    <servlet-class>edu.gmu.csiss.earthcube.cyberconnector.servlet.ServiceRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceRegisterServlet</servlet-name>
    <url-pattern>/ServiceRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MetadataQueryServlet</servlet-name>
    <servlet-class>edu.gmu.csiss.earthcube.cyberconnector.servlet.MetadataQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MetadataQueryServlet</servlet-name>
    <url-pattern>/MetadataQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>edu.gmu.csiss.earthcube.cyberconnector.servlet.FileUploadServlet</servlet-class>
    <init-param>
      <param-name>filepath</param-name>
      <param-value>uploadFile</param-value>
    </init-param>
    <init-param>
      <param-name>temppath</param-name>
      <param-value>temp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VirtualProductQueryServlet</servlet-name>
    <servlet-class>edu.gmu.csiss.earthcube.cyberconnector.servlet.VirtualProductQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VirtualProductQueryServlet</servlet-name>
    <url-pattern>/VirtualProductQueryServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>spring-webmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring-webmvc</servlet-name>
    <url-pattern>/web/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
    	/WEB-INF/spring-webmvc-servlet.xml
    	/WEB-INF/spring-websocket-servlet.xml
    </param-value>
  </context-param>
  <listener>
    <listener-class>
	        org.springframework.web.context.ContextLoaderListener
	    </listener-class>
  </listener>
  
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>