body{
	width:960px;
	margin:10px auto;
}
circle{
  fill:white;
  stroke:steelblue;  
  stroke-width:2px;
}
line{
  stroke:grey;
  stroke-width:3px;
}
.incRect{
	stroke:grey;
	shape-rendering:crispEdges;
}
#incMatx text{
	text-anchor:middle;
	cursor:default;
}
#treesvg g text:hover, #treesvg g circle:hover{
	cursor:pointer;
}
#navdiv{
	background:#555;
}
#treesvg{
	border:1px solid grey;
}
#labelpos{
	color:white;
}
#navdiv button, #navdiv textarea{
	vertical-align:middle;
}
#g_labels text{
	text-anchor:middle;
}
#g_elabels text{
	text-anchor:middle;
	fill:red;
	font-weight:bold;
}